/* Header styles
-----------------------------------------------------------------------------*/

.header{

}

.preheader{
  background: #ffffff;
  font-size: 12px;
  padding: 11px 0;
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
}

.preheader select {
    border-radius: 0;
    background: transparent;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    width: 110%;
}

.preheader .city{
    overflow: hidden;
    cursor: pointer;
    background: url("../../img/static/icon-arrow-down.png") no-repeat right 50%;
}

.preheader .nav.pull-left > li:first-child{
    margin-right: 30px;
}

.preheader .nav.pull-right > li{
    margin-left: 30px;
}

.preheader .header-top-contacts{
    text-align: center;
    padding-top: 10px;
    display: none;
}

.preheader .header-top-contacts-phone{
    font-size: 20px;
}





.main-scooch{
    position: absolute;
    width: 100%;
    z-index: 0;
}


.background-cover, .m-scooch{
    height: 625px ;
}

.cover-1{
    background: url('../../img/upload/background-1.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}

.cover-2{
    background: url('../../img/upload/background-2.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}


.m-scooch-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.m-scooch-controls .next-slide, .m-scooch-controls .prev-slide{
    display: inline-block;

}

.m-scooch-controls a.lg {
    position: absolute;
    top: 400px;
    margin-top: -27px;
    font-size: 55px;
    line-height: 55px;
    color: #ffffff;
    padding: 0 5px;

}

.m-scooch-arrows a, .m-scooch-arrows a:hover, .m-scooch-arrows a:focus{
    background-color: transparent;
}

.m-scooch-round a, .m-scooch-round a:focus{
    background-color: white;
}

.m-scooch-round a:hover{
    background-color: #dce2ff;
}

.m-scooch-pagination a.m-active{
    background-color: #003b83;
}

.m-scooch-controls a.lg.next{
    right: 20px;
}

.m-scooch-controls a.lg.prev{
    left: 400px;
}

.m-scooch-wrapper .m-scooch-inner .m-item{
    margin: 0px;
}

.m-scooch-controls .next-slide:before {
    content: url('../../img/static/right.png')

}

.m-scooch-controls .prev-slide:before{
    content: url('../../img/static/left.png')
}

.m-scooch-round{
    position: absolute;
    right: 15px;
    bottom: 0;
}

.m-scooch-round a{
    text-indent: -100px;
    padding: 0.1px 9px;
    margin-right: 7px;
    overflow: hidden;
    border-radius: 100%;
}

.m-scooch-pagination{
    top: 560px;
}

.m-scooch-main-background, .content-m-scooch-main{
    position: relative;
}









.background-slider-description-color{
    color: #000651;
    font-weight: bold;
}

.description-container-background-slider{
    position: absolute;
    right: 0;
    margin-right: 60px;
    top: 280px;
    width: 100%;
    max-width: 370px;
}

.background-slider-text{
    color: #ffffff;
    line-height: 25px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 30px;

}

.background-slider-title{
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 56px;
}

.background-slider-button-margin{
    margin-top: 1.9%;
    margin-left: 88%;
}

.flex-direction-nav a{
    position: absolute;
    text-decoration: none;
    display: block;
    overflow: hidden;
    cursor: pointer;
    top: 50%;
}

.background-slider .flex-direction-nav a{
    margin-top: 70px;
    height: 34px;
    width: 23px;
    z-index: 2;
}

.flex-direction-nav .flex-next{
    right: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.flex-direction-nav .flex-next:active, .flex-direction-nav .flex-prev:active{
    -webkit-transform: scale(0.9); /* Для Safari, Chrome, iOS */
    -moz-transform: scale(0.9); /* Для Firefox */
    -ms-transform: scale(0.9); /* Для IE */
    -o-transform: scale(0.9); /* Для Opera */
    transform: scale(0.9);
}

.flex-direction-nav .flex-prev{
    left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.background-slider .flex-direction-nav a.flex-prev{
    margin-top: 350px;
    margin-left: 39%;
}

.background-slider .flex-direction-nav a.flex-next{
    margin-top: 350px;
    right: 0;
    margin-right: 18%;
}

.background-slider .flex-direction-nav a.flex-prev:before{
    content: url('../../img/static/left.png');
}

.background-slider .flex-direction-nav a.flex-next:before{
    content: url('../../img/static/right.png');
}

.background-slider-navs .flex-active{
    background: no-repeat url('../../img/upload/background-slider-navs-active.png');
}

.background-slider-navs{
    position: relative;
    display: inline-block;
    top: 575px;
    right: -92.5%;
    z-index: 3;
}

.background-slider-navs ul li{
    background: no-repeat url('../../img/upload/slider-background-navs.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}




.header-container{
    position: relative;
    margin-top: 15px;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
}

.logo{
    display: block;
    margin: -5px 0 0 15px;
}


.container-search{
    position: relative;
    margin-left: 3.6%;
    width: 21.6%;
}

input[type="text"]:first-child{
    padding: 0 25px 0 10px;
    height: 40px;
    width: 100%;
    vertical-align: middle;
}

input[type="image"]{
    position: absolute;
    right: 10px;
    top: 35%;
    border: none;
}

.phone{
    margin-top: 3px;
    margin-left: 2.4%;
    width: 21px;
    cursor: pointer;
}

.answer{
    display:none; /*скрываем*/
}

.inform-phone{
    margin-left: 0.8%;
}

.inform-phone-data {
  font-size: 19px;
}

.inform-phone-data a{
    color: inherit;
}

.inform-phone-data a:hover{
    color: #ff6600;
}

.inform-phone .inform-phone-data:first-child {
  margin-right: 10px;
}

.small {
  display: block;
  font-size: 11px;
  color: #666666;
}

.inform-sign{
    margin:0 2%;
}

.shopping-kart-part{
    position: absolute;
    transform-origin: left top;
    right: 1px;
    top: 0;
    margin-top: 12px;
}

.shopping-kart{
    position: relative;
    cursor: pointer;
}

.shopping-kart:hover .shopping-kart-part{
    transform: rotate(-45deg);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;

    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

.shopping-kart:not(:hover) .shopping-kart-part{
    transform: rotate(0deg);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.header-container input[name="input-shopping-kart"]{
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.header-container .pull-left.nav li{
    margin-right: 10px;
}

.authorization li:first-child{
    margin-right: 10px;
}



.header-sub-menu{
    display: table;
    position: relative;
    padding: 10px 0;
    width: 100%;
}

.header-sub-menu > li{
    display: table-cell;
    padding: 11px 0;
    border-left: 1px solid rgb(87, 95, 186);
    background-color: rgb(35, 45, 142);
    cursor: pointer;
    text-align: center;
}

.header-sub-menu > li > h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.header-sub-menu > li > h2 a{
    color: inherit;
}

.header-sub-menu > .nav-suitcases{
    border-left: none;
}

.header-sub-menu >  .nav-more{
    position: relative;
    display: none;

}




.header-sub-menu > .nav-child-10{
    width: 2%;
    background-color: transparent;
    cursor: auto;
}

.header-sub-menu > .nav-shares, .header-sub-menu > .nav-store{
    border-left: none;
    background-color: rgb(255, 133, 40);
}

.header-sub-menu > .nav-store{
     border-left: 1px solid rgb(255, 182, 127);
 }

.header-sub-menu > li:hover{
    background-color: rgb(67, 72, 171);
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;;
}


.header-sub-menu > .nav-child-10:hover{
    background: none;
}

.header-sub-menu > .nav-shares:hover, .header-sub-menu > .nav-store:hover{
    background-color: rgb(275, 153, 80);
}

.out > h2:after{
    content: '';
    position: absolute;
    padding: 2px 3px;
    background: url('../../img/static/out1.png') no-repeat 50% 50%;
    margin: 8px 0 0 3px;
}

.header-sub-menu > li:hover > h2:after{
    -webkit-transform: rotate(180deg) scale(1.1); /* Для Safari, Chrome, iOS */
    -moz-transform: rotate(180deg) scale(1.1); /* Для Firefox */
    -ms-transform: rotate(180deg) scale(1.1); /* Для IE */
    -o-transform: rotate(180deg) scale(1.1); /* Для Opera */
    transform: rotate(180deg) scale(1.1);

    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;

    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

.header-sub-menu > li:not(:hover) > h2:after{
    transform: rotate(0deg);
    -webkit-transition: all 125ms linear;
    -moz-transition: all 125ms linear;
    -o-transition: all 125ms linear;
    transition: all 125ms linear;
}





.sub-menu-form{
    position: absolute;
    width: 100%;
    min-height: 285px;
    height: 100%;
    left: 0;
    top: 47px;
    visibility: hidden;
    z-index: 2;
}

.sub-menu-more{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 45px;
    width: 130px;
    z-index: 2;
}

.sub-menu-more .max-width750{
    display: none;
}

.sub-menu-more li{
    padding: 5px 15px;
    text-align: left;
    font-size: 14px;
}

.sub-menu-more li:hover{
    background-color: rgb(67, 72, 171);
    color: white;
    cursor: pointer;
}

.sub-menu-more li a{
    color: inherit;
}

.sub-menu-form, .sub-menu-more{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);

    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);

    -webkit-transition: visibility 0s linear 200ms,
    -webkit-transform 200ms cubic-bezier(.1, -1.5, .1, 2.5);
    -moz-transition: visibility 0s linear 200ms,
    -moz-transform 200ms cubic-bezier(.1, -1.5, .1, 2.5);
    -o-transition: visibility 0s linear 200ms,
    -o-transform 200ms cubic-bezier(.1, -1.5, .1, 2.5);
    transition: visibility 0s linear 200ms,
    transform 200ms cubic-bezier(.1, -1.5, .1, 2.5);
}

.sub-menu-more{
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}


.sub-menu-form:hover, .sub-menu-more:hover{
    cursor: auto;
}

.sub-menu-form:after, .sub-menu-more:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 99.5%;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
    z-index: -1;
}

.header-sub-menu li:not(:hover) .sub-menu-form:after, .header-sub-menu li:not(:hover) .sub-menu-more:after {
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);

    opacity: 0;

    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.header-sub-menu .nav-suitcases .sub-menu-form:after{
    left: 5.8%;
}/*Положение стрелки(треугольника), у выпадающего меню */

.header-sub-menu .nav-handbags .sub-menu-form:after{
    left: 14.7%;
}

.header-sub-menu .nav-backpacks .sub-menu-form:after{
    left: 23.5%;
}

.header-sub-menu .nav-accessories .sub-menu-form:after{
    left: 35%;
}

.header-sub-menu .nav-business .sub-menu-form:after{
    left: 48.5%;
}

.header-sub-menu .nav-children .sub-menu-form:after{
    left: 61%;
}

.header-sub-menu .nav-brands .sub-menu-form:after{
    left: 71.5%;
}


.header-sub-menu > li:hover .sub-menu-form, .header-sub-menu > li:hover .sub-menu-more{
    visibility: visible;

    -webkit-transform: translateY(13px);
    -moz-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);

    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}

.header-sub-menu > li:hover .sub-menu-more{
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}

.sub-menu-form .row .header-sub-menu-title{
    color: #ff6600;
    font-weight: bold;
}

.sub-menu-form ul li{
    margin-bottom: 5px;
}

.sub-menu-left-container{
    width: 20%;
    background-color: #eaeaea;
    padding: 0 40px;
}

.sub-menu-middle-container{
    width: 60%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 0 40px;
}

.sub-menu-right-container{
    width: 20%;
}

.sub-menu-left-container div{
    font-weight: bold;
}

.sub-menu-form .row{
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    padding: 20px;
}

















.sub-menu-form .sub-menu-form-text{
    float: left;
    height: 100%;
    width: 20%;
    background-color: #eaeaea;
}












.suitcase{
    text-align: center;
    margin-top: -15px;
}

.suitcase > img{
    margin-bottom: 5px;
}

.sale{
    position: absolute;
    display: table;
    margin: -180px 0 0 -7px;
    width: 55px;
    height: 55px;
    background: no-repeat url('../../img/static/sale.png') 0 0;
}

.sale > p{
    display: table-cell;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
}

.description-container{
    text-align: center;
}

.description-name-text{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.description-container .description-name-text a{
    color: #182082;
}

.description-material-text{
    font-size: 12px;
    font-weight: normal;
}

.description-sale-text{
    font-size: 19px;
    font-weight: bold;
    color: #ff6600;
}





.header-main{
    position: relative;
    z-index: 1;
    width: 370px;
}

.assistant{
    width: 370px;
    background-color: #ffffff;
}

.assistant-header{
    padding: 11px 8px 8px 20px;
    background-color: #ebebeb;
    color: #000000;
    font-size: 19px;
    font-weight: normal;
}

.assistant-main{
    padding: 5px 20px 15px 20px;
   /* width: 100%;*/
}

.assistant-main .input-price{
    padding: 7px 15px;
    width: 100%;
}

.assistant-main label{
    cursor: pointer;
}

.assistant-main label:first-child{
    cursor: auto;
}

.assistant-main input[type="checkbox"]{
    display:none;
}

.assistant-tittle{
    font-size: 14px;
    font-weight: bold;
}

.assistant .small-monitor{
    display: none;
}

.fieldset{
    margin-bottom: 10px;
}

.fieldset li{
    margin-bottom: 5px;
}

.fieldset .material{
    margin-bottom: 5px;
}

.assistant-tittle-margin{
    margin-top: 10px;
}

.range-price{
    display: none;
}

.assistant .col-md-6 label:before{
    content: "";
    padding: 2px 12px;
    background: no-repeat url('../../img/upload/checkbox-1.png') 0 0;
}

.assistant input[type="checkbox"]:checked + label:before{
    background: no-repeat url('../../img/upload/checkbox-2.png') 0 0;
}

.pick-up{
    text-align: center;
}

.site-button{
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #ff6600;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    moz-box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
}


.assistant-footer{
    padding: 16px 0 14px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background: no-repeat url('../../img/static/ruler.png') #313882 -2px -13px;
}




























